#creation-form {
    width: 600px;
    margin: auto;
}

#creation-form > header > h3 {
    font-size: 1.5em;
    font-family: Eczar;
    color: #FF9050;
}

#creation-form > section > form > .button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#community-form-title {
    display: flex;
    align-items: center;
}

#community-picture > label {
    display: block;
    width: 96px;
    height: 96px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50px;
    border: 2px solid #FF9050;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    overflow: hidden;
}

#community-picture > label:hover {
    background-color: rgba(0,0,0,0.9);
}

#community-picture > label > img {
    width: 48px;
    height: 48px;
    margin-top: 26px;
    margin-left: 24px;
}

#community-picture > label > img.preview {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#community-picture input {
    display: none;
}

#community-name {
    margin-left: 40px;
    flex-grow: 1;
}

#community-name input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #FF9050;
	font-size: 13px;
}

#communities {
    width: 80%;
    margin: auto;
}

#communities > header > h3 {
    text-align: center;
    margin-top: 20px;
    color: #FF9050;
    font-family: Eczar;
    font-size: 1.4em;
}

#communities > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.community {
    display: inline-block;
    color: #FFA55A;
    text-decoration: none;
    transition: color 0.2s ease-out;
    margin: 10px;
}

.community:hover {
    color: #FF9050;
}

.community > header {
    text-align: center;
}

.community > header > img,
#community > header > h1 > img 
{
    width: 76px;
    height: 76px;
    border: 2px solid #FFA55A;
    border-radius: 50px;
    transition: border-color 0.2s ease-out;
}

.community:hover > header > img {
    border: 2px solid #FF9050;
}

#community {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#community > header > h1 {
    display: flex;
    align-items: center;
}

#community > header > h1 > img {
    margin-right: 20px;
}

#community > section {
    display: flex;
    justify-content: space-around;
}

#community h3 {
    color: #FF9050;
    font-family: Eczar;
    font-size: 1.5em;
}

#community .news {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#community .news > svg {
    width: 60px;
    text-align: center;
    margin-right: 20px;
    color: #ccc;
}

#community .news > div {
    font-size: 1.2em;
}

#community .news > div > span {
    color: #ccc;
}

@media (max-width: 400px) {
    #community {
        margin-top: 0px;
    }
    #community > header > h1 {
        flex-direction: column;
    }
    #community > header > h1 > img {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #community > section {
        flex-direction: column;
    }
    
    #community > section h3 {
        text-align: center;
        margin-top: 20px;
    }
    
    #creation-form {
        width: auto;
        margin-top: 20px;
    }
    
    #creation-form > header > h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #community-form-title {
        flex-direction: column;
    }
    
    #community-name {
        margin-left: 0px;
        margin-top: 10px;
    }
}