/*custom font*/
@import url('https://fonts.googleapis.com/css?family=Eczar|Muli');
/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
    min-height: 100%;
	font-family: Muli, arial, verdana;
    margin: 0px;
}

body > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > nav > h1 {
    margin: 10px;
    height: 52px;
}

body > nav > h1 > a > img {
    max-width: 200px;
}

body > nav > div {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

body > nav > div > a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

/*buttons*/
.button {
    display: inline-block;
    background-color: #FFA05A;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px 5px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.2s ease-out;
}
.button:hover, .button:focus {
	background-color: #FF9050;
}

#bottom-menu {
    display: none;
}

@media (max-width: 400px) {
    body {
        margin-bottom: 100px;
    }
    body > nav > h1 {
        margin: auto;
        margin-top: 10px;
    }
    body > nav > div {
        display: none;
    }
    #bottom-menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0px;
        background: #FF9050;
        z-index: 1000;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    }
    #bottom-menu > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding-top: 20px;
        padding-bottom: 10px;
        color: #FFF;
        font-size: 1.1em;
    }
    #bottom-menu > a > i,
    #bottom-menu > a > i > img {
        width: 36px;
        height: 36px;
    }
    .sf-minitoolbar {
        display: none !important;
    }
}