/*custom font*/
@import url('https://fonts.googleapis.com/css?family=Eczar|Muli');
/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
    min-height: 100%;
	font-family: Muli, arial, verdana;
    margin: 0px;
}

body > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

body > nav > h1 {
    margin: 10px;
    height: 52px;
}

body > nav > h1 > a > img {
    max-width: 200px;
}

body > nav a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

/*buttons*/
.button {
    display: inline-block;
    background-color: #FFA05A;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px 5px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.2s ease-out;
}
.button:hover, .button:focus {
	background-color: #FF9050;
}