#registration {
    width: 600px;
    margin:auto;
    margin-top: 20px;
}

#dashboard {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#profile-card {
    width: 300px;
}

#communities-card {
    width: 300px;
    margin-top: 40px;
}