#toolbar {
    display: flex;
    width: 80%;
    margin: auto;
}

.projects {
    width: 80%;
    margin: 20px auto;
}

.projects > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects > header > h3 {
    color: #FF9050;
    font-size: 1.4em;
    font-family: Eczar;
}

.projects > section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.projects > section > div {
    width: 200px;
    margin: 20px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.projects > section > div > header {
    background-color: #E0E0E0;
    color: #EFEFEF;
    text-align: center;
}

.projects > section > div > section {
    padding: 10px;
}

.projects > section > div > section > a {
    text-decoration: none;
    color: #FF9050;
}

#project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#project {
    width: 60%;
}

#project-infos {
    width: 30%;
}

#project-infos > div > header > h3 {
    font-size: 1.5em;
    color: #FF9050;
    font-family: Eczar;
}

#project-members {
    margin-top: 20px;
}

#project-members > section {
    display: flex;
    flex-wrap: wrap;
}

#project-members > section > .member {
    margin-left: 10px;
    margin-right: 10px;
}

#project h1,
#project h3,
#project-infos h1,
#project-infos h3 {
    color: #FF9050;
    font-family: Eczar;
}

#project .news {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#project .news > svg {
    width: 60px;
    text-align: center;
    margin-right: 20px;
    color: #ccc;
}

#project .news > div {
    font-size: 1.2em;
}

#project .news > div > span {
    color: #ccc;
}

#project-infos #descriptions > header,
#project-infos #votes > header {
    border-bottom: 1px solid #A0A0A0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#project-infos #descriptions > header > p,
#project-infos #votes > header > p {
    color: #888888;
}

#project-infos .indicator {
    display: block;
    width: 120px;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;   
}

#project-infos #votes .indicator {
    width: auto;
}

#project-infos .indicator.green {
    color: green;
    border: 2px solid green;
}

#project-infos .indicator.orange {
    color: orange;
    border: 2px solid orange;
}

#project-infos .indicator.red {
    color: red;
    border: 2px solid red;
}

#project-details {
    width: 800px;
    margin:auto;
}

#project-details > header {
    color: #FF9050;
    font-family: Eczar;
    text-align: center;
}

#project-details > section > .project-description {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A0A0A0;
}

#project-details > section > .project-description > p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #888888;
}

#project-details > section .ck-editor {
    width: 800px;
}

#project-details > section .ck-editor__editable {
    height: 200px;
}

#project-details > footer {
    text-align: center;
    margin-bottom: 100px;
}

@media (max-width: 400px) {
    #projects > header {
        flex-direction: column;
    }
    #projects > section {
        justify-content: center;
    }
    #project-container {
        margin-top: 10px;
        flex-direction: column;
    }
    #project {
        width: auto;
    }
    #project > header > h1 {
        text-align: center;
    }
    #project > section > div {
        margin-top: 20px;
    }
    #project > section > div > h3 {
        text-align: center;
        font-size: 1.5em;
    }
    #project-infos {
        width: 100%;
    }
    #project-infos > div > header > h3 {
        text-align: center;
    }
    #project-owner > header > h4 {
        text-align: center;
    }
    #project-members > section {
        justify-content: center;
    }
}