#toolbar {
    display: flex;
    width: 80%;
    margin: auto;
}

.projects {
    width: 80%;
    margin: 20px auto;
}

.projects > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects > header > h3 {
    color: #FF9050;
    font-size: 1.4em;
    font-family: Eczar;
}

.projects > section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.projects > section > div {
    width: 200px;
    margin: 20px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.projects > section > div > header {
    background-color: #E0E0E0;
    color: #EFEFEF;
    text-align: center;
}

.projects > section > div > section {
    padding: 10px;
}

.projects > section > div > section > a {
    text-decoration: none;
    color: #FF9050;
}

#project-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#project-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project-container > header > h1 {
    color: #FF9050;
    font-family: Eczar;
}

#project-container > section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#project {
    width: 60%;
}

#project-infos {
    width: 30%;
}

#project-infos > div > header > h3 {
    font-size: 1.5em;
    color: #FF9050;
    font-family: Eczar;
}

#project-members {
    margin-top: 20px;
}

#project-members > section {
    display: flex;
    flex-wrap: wrap;
}

#project-members > section > .member {
    margin-left: 10px;
    margin-right: 10px;
}

#project h1,
#project h3,
#project-infos h1,
#project-infos h3 {
    color: #FF9050;
    font-family: Eczar;
}

#project .news {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#project .news > svg {
    width: 60px;
    text-align: center;
    margin-right: 20px;
    color: #ccc;
}

#project .news > div {
    font-size: 1.2em;
}

#project .news > div > span {
    color: #ccc;
}

#project-infos #descriptions > header,
#project-infos #votes > header {
    border-bottom: 1px solid #A0A0A0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#project-infos #descriptions > header > p,
#project-infos #votes > header > p {
    color: #888888;
}

#project-infos .indicator {
    display: block;
    width: 120px;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;   
}

#project-infos #votes .indicator {
    width: auto;
}

#project-infos .indicator.green {
    color: green;
    border: 2px solid green;
}

#project-infos .indicator.orange {
    color: orange;
    border: 2px solid orange;
}

#project-infos .indicator.red {
    color: red;
    border: 2px solid red;
}

#project-details {
    width: 800px;
    margin:auto;
}

#project-details > header {
    color: #FF9050;
    font-family: Eczar;
    text-align: center;
}

#project-details > section > .project-description {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A0A0A0;
}

#project-details > section > .project-description > p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #888888;
}

#project-details > section .ck-editor {
    width: 800px;
}

#project-details > section .ck-editor__editable {
    height: 200px;
}

#project-details > footer {
    text-align: center;
    margin-bottom: 100px;
}

#poll-container {
    display: flex;
    margin-top: 50px;
}

#poll-infos {
    padding: 0px 40px;
}

#poll-infos > header {
    padding-bottom: 10px;
    color: #FF9050;
    font-family: Eczar;
}

#poll-infos > section {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #A0A0A0;
}

#poll-infos > section > h3 {
    color: #A0A0A0;
    font-family: Eczar;
    padding-bottom: 10px;
}

#poll-infos > section > h5 {
    font-family: Eczar;
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #A0A0A0;
}

#poll-infos > section button {
    width: 100%;
    display: block;
}

#vote-positive,
#vote-negative {
    display: none;
}

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 18px; height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background-color: #EFEFEF;
}
input[type="radio"]:checked + label {
    color: #333;
    font-weight: 700;
}
input[type="radio"]:checked + label span {
    background-color: #ff8800;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span { 
    transition: background-color 0.24s linear;
}

#poll-details {
    margin-left: 100px;
}

#poll-details > header > h3 {
    font-family: Eczar;
}

#poll-details > section {
    margin-top: 50px;
}

#poll-details > section > .description > header {
    color: #FF9050;
    font-family: Eczar;
    margin-top: 20px;
    margin-bottom: 10px;
}

#poll-details > section > .description > section {
    padding: 20px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    background-color: #FAFAFA;
}

@media (max-width: 400px) {
    #projects > header {
        flex-direction: column;
    }
    #projects > section {
        justify-content: center;
    }
    #project-container {
        margin-top: 10px;
        flex-direction: column;
    }
    #project {
        width: auto;
    }
    #project > header > h1 {
        text-align: center;
    }
    #project > section > div {
        margin-top: 20px;
    }
    #project > section > div > h3 {
        text-align: center;
        font-size: 1.5em;
    }
    #project-infos {
        width: 100%;
    }
    #project-infos > div > header > h3 {
        text-align: center;
    }
    #project-owner > header > h4 {
        text-align: center;
    }
    #project-members > section {
        justify-content: center;
    }
}